/* styles.css by Julie Lely */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body  {
  font-family: 'Inter';
  background-color: #F5F9FF;
  font-size: 0px;
  margin: 0px;
}

p {
  font-size: 14px;
  line-height: 17px;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  background-color: #FFF;
  padding: 0px 40px;
}

nav a {
  text-decoration: none;
}

#winterest-logo {
  font-family: 'Inter';
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #1B3966;
}

#user-circle {
  background-color: #4377C6;
}


.main-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
  margin-top: 40px;
}

.match-section {
  width: 440px;
  margin-right: 36px;
}

.section-header {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #1B3966;
}

.match-name, .match-section-titles {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  margin: 0px;
}

.insta-button, .facebook-button {
  margin: 0px;
  width: 100%;
}

#phone-button1, #phone-button2 {
  margin: 0px;
  width: 48%;
}


.match-section-titles {
  font-size: 16px;
  margin-bottom: 8px;
}

.match-subheader, .action-subheader {
  font-size: 14px;
  line-height: 17px;
  color: #696969;
  margin: 0px;
}

/* .action-subheader {
  margin-top: 4px;
} */

#location-label {
  margin-bottom: 4px;
}

#location-subheader, #when-subheader {
  margin-bottom: 8px;
}

.match-photo {
  position: relative;
}

#match-image {
  height: 380px;
  width: 100%;
  object-fit: cover;
  border-radius: 14px 14px 0px 0px;
}

.match-containers, .more-container {
  display: flex;
  flex-direction: row;

  width: 335px;
  background-color: #FFF;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 6px;
  margin-bottom: 16px;

  transition: opacity 0.5s linear;
  transition: .5s ease-out;
}

.more-container {
  background: #ECEDEF;
  box-sizing: border-box;
  border-radius: 6px;
  width: 375px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.02);

}

.more-container .matches-info {
  margin: 0px;
}

.matches-info h3{
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  margin: 0px;
}

.matches-info {
  margin-left: 16px;
}

.match-header {
  bottom: 0px;
  background: #FFFFFF;
  border-radius: 0px 0px 14px 14px;
  padding: 18px 26px;
}

.match-buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  margin-top: 8px;
}

button {
  font-family: 'Inter';
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;

  width: 100%;
  background: #4377C6;
  padding: 12px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.20);
  border-radius: 6px;
  border: none;
  margin: 8px 0px;

  transition: opacity 0.5s linear;
  transition: .5s ease-out;
}

.match-button {
  background-color: #1B3966;
}

.gray-button {
  background-color: #eaeaea;
  color: #2D2D2D;
  box-shadow: 0px 2px 10px rgb(0 0 0 / 5%);
}

.phone-box {
  pointer-events: none;
  background-color: #eaeaea;
  color: #2D2D2D;
}

.circle {
    position: absolute;
    top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFF;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.circle-img {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);

  background: #1B3966;
  width: 36px;
  height: 36px;
}

.circle-img p {
  font-size: 14px;
  color: #FFF;
}

.left-arrow {
  transform: rotate(-180deg);
  left: -25px;
}

.right-arrow {
  right: -25px;
}

.circle img {
  opacity: 0.4;
}

/* More Profile Stuff */
.profile-bio {
  font-size: 14px;
  line-height: 17px;
}

.interest-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  background: #FFFFFF;
  border: 1px solid #2B3640;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 10px 14px;
  margin-bottom: 12px;
}

.interest-box > * {
  margin: 0px;
  font-size: 14px;
  line-height: 17px;
}

#more-profile {
  display: none;
}

.blue-button:hover {
  background: rgba(67, 119, 198, 0.8);
}

.match-button:hover {
  background: rgba(27, 57, 102, 0.8);}

.gray-button:hover {
  background: #E6E6E6;
}

.match-containers:hover {
  transform: translate(0px, -3px);
}

/* Matches.html */
#match-actions {
  width: 440px;
}

#match-actions > div {
  background: #FFFFFF;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 14px;
  margin-bottom: 24px;
  padding: 20px;
}

#icebreaker {
  margin: 16px 0px;
  font-size: 16px;
}

#ice-shuffle-button {
  margin-right: 16px;
}
#icebreaker-buttons, #contact-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#contact-buttons a {
  width: 48%;
}

#icebreaker-buttons button, #contact-buttons button{
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.0);
}

.action-title {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #1B3966;
  margin: 0px;
}

/* Forms, Pill Form from
https://github.com/scottaohara/a11y_styled_form_controls/blob/main/src/assets/css/radio--pill.css */

/* parent container <fieldset> */
.r-pill {
	border: 0;
	padding: 0;
	margin: 0;
  margin-top: 12px;
}

#where-pills {
  margin-top: 0px;
}

/* radio groups need a legend */
.r-pill legend, #avail label {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin-top: 6px;
  margin-bottom: 8px;
  padding-inline-start: 0px;
}

/*
	Optional inner wrapper (<div>) to provide additional styling.
*/
.r-pill__group {
	background: #fafafa;
	border: 1px solid #083851;
	border-radius: 2em;
	display: inline-block;
	padding: .25em;
}

.r-pill__item {
	display: inline-block;
	position: relative;
  border: 2px solid #4377C6;
  box-sizing: border-box;
  border-radius: 100px;
  margin-bottom: 8px;
}


.r-pill input {
	appearance: none;
	background: none;
	border: 2px solid;
	height: 100%;
	left: 0;
	opacity: .00001;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 2;
}

.r-pill__item label {
	border-radius: 2em;
	border: 2px solid transparent;
	color: #4377C6;
  font-size: 14px;
	display: block;
	padding: .25em .75em;
}

.r-pill__item input:hover ~ label,
.r-pill__item label:hover {
	background: #E2F1FD;
	/* border-color: #4377C6; */
}

.r-pill[disabled] .r-pill__item input:checked + label:hover,
.r-pill__item input:checked + label {
  background: rgba(67, 119, 198, 0.15);
  border: 1px solid #4377C6;
  color: #4377C6;
}

.r-pill__item label:after {
	border: 1px solid;
	border-color: rgba(0,0,0,0);
	border-radius: 2em;
	bottom: 0;
	content: "";
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	transition:
		bottom .2s ease-in-out,
		border-color .2s ease-in-out,
		left .2s ease-in-out,
		right .2s ease-in-out,
		top .2s ease-in-out;
	/*
		1. Don't like pointer-events?
			 then use z-index: -1;
			 but we don't want this getting in the way
			 of touch / mouse clicks.
	*/
}

.textbox input {
  display: block;
  padding: 8px 12px;
  border: 1.5px solid #C6C7CA;
  box-sizing: border-box;
  border-radius: 4px;
  width: 100%;
}

.textbox label{
  display: block;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 8px;
  margin-top: 8px;
  width: 100%;
}

.notes-textbox {
  margin-top: 8px;
}

#schedule-button {
  margin-top: 18px;
}

form {
  font-size: 14px;
}

.one-match {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 14px;
  display: none;
}

.active {
  display: block;
}

.button-form {
  height: 0px;
}

.button-form-element {
  padding: 0;
  margin: 0;
}

.match-link {
  color: black;
  text-decoration: none;
}


.signup-textbox {
  margin-top: 12px;
}

.twocol-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.twocol-flex > div {
  width: 48%;
}

#wellesley-email-box label {
  margin-bottom: 0px;
}

#wellesley-email-box > p {
  margin-bottom: 8px;
}

#signup-container, .landing-container, #interests-container {
  background-color: #FFF;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 14px;
  width: 440px;
  padding: 24px;
  margin-bottom: 10px;
}

#interests-container {
  display: none;
}



.match-button-form {
  width: 100%;
}
/* 
#match-button-form2 {
  margin-top: 18px;
} */

.landing-buttons a {
  text-decoration: none;
  color: white;
}

.landing-buttons {
  margin-top: 12px;
}

#profile-logout-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#logout-button {
  font-size: 14px;
  font-weight: 500;
  /* background: #DCDCDC; */
  color: #000;
  box-shadow: 0px 2px 8px rgb(0 0 0 / 2%);
  margin-left: 12px;
  padding: 8px;
}

#messages p{
  /* padding: 0px 40px; */
}

#messages {
  position: absolute;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  background: #FFF;
  transform: translate(40px, 30px);
  padding: 10px;
  width: 300px;
  border-radius: 10px;
  z-index: 9999;
}

#bio-textbox input {
  margin-top: 12px;
  /* height: 100px; */
}

#schedule-when {
  font-family: 'Inter';
}

textarea {
  margin-top: 12px;
  resize: none;
  display: block;
  padding: 8px 12px;
  border: 1.5px solid #C6C7CA;
  box-sizing: border-box;
  border-radius: 4px;
  width: 100%;

  font-family: 'Inter';
}

#about_blurb {
  padding: 40px
}

.match-image-cropped {
  width: 100%;
  object-fit: cover;
  height: 380px;
  border-radius: 14px 14px 0px 0px;
}

#pic {
  border: transparent;
  padding: 10px 14px 0px 0px;
  font-family: 'Inter';
}

.action-title-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.minimize {
  transform: rotate(-90deg);
  width: 12px;
  height: 100%;
  opacity: 30%;
  margin-right: 4px;
}

/* Meeting Box CSS */
#all-meetings {
  margin-top: 12px;
}

.meeting-container {
  padding: 10px;
  background-color: #4377C6;
  color: #FFF;
  border-radius: 10px;
  margin-bottom: 12px;
}

.meeting-container:last-child {
  margin-bottom: 0px;
}

.meeting-time{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.meeting-time p {
  margin: 0px;
}

.meeting-title {
  font-weight: bold;
  font-size: 16px;
  color: #FFFFFF;
  margin: 0px;
  margin-bottom: 16px;
}

.location-pill, .cancel-pill {
  background: #2B3640;
  border-radius: 100px;
  padding: 6px 18px;
  width: fit-content;
  margin-right: 8px;
}

.cancel-pill {
  background: #FFFFFF;
  color: #4377C6;
}

.location-pill p, .cancel-pill p{
  font-weight: bold;
  font-size: 13px;
  text-align: center;
  margin: 0px;
}

.meeting-options {
  display: flex;
  align-items: center;
}

#delete-meeting, #zoom-meeting {
  font-size: 13px;
  border-radius: 100px;
  padding: 6px 18px;
  width: fit-content;
  margin-right: 8px;
  color: #4377C6;
  background: white;
  box-shadow: 0px 2px 4px rgb(0 0 0 / 5%);
}

#zoom-meeting {
  background: #2B3640;
  color: white;
}

#no-meeting {
  background: #F4F4F4;
  color: #000;
  text-align: center;
}

#schedule-meeting-container {
  display: none;
}

#icebreaker-container {
  display: none;
}

#when-label {
  margin-bottom: 0px;
}

.social-form {
  padding: 2px 12px;
  height: 34px;
  border: 1.5px solid #C6C7CA;
  box-sizing: border-box;
  border-radius: 4px;
  font-family: 'Inter';
}

.match-location-info {
  margin-top: 0px;
  margin-bottom: 0px;
}

.match-campus-info {
  margin-top: 0px
}

.socials-flex {
  display: flex;
}

.social-links, .phonenumber-form {
  width: 100%;
  margin-left: 12px;
}

.phonenumber-form {
  display: none;
}

.two-col-buttons {
  display: flex;
  justify-content: space-between;
}

.two-col-buttons button {
  width: 48%;
}

#format-message {
  padding-top: 8px;
  display: none;
}