{% extends "base.html" %}

{% block main_content %}

<h1>Welcome to Wellesley's very own Wintrest!</h1>

<div id='about_blurb'>
    <h1 class="section-header">About Us</h1>
    <p>
        On a global level, the coronavirus pandemic has rendered 
        many of the ways we have been accustomed to finding and developing 
        relationships impossible. Isolation has always been a problem at Wellesley 
        because of the heavily academic culture and the difficulty of scheduling 
        time with friends. For many students coming from underrepresented 
        backgrounds, the ins and outs of networking and building relationships 
        with the community of alumni are bewildering and difficult to navigate. 
        Due to the pandemic, there has been a pressing need for alternative 
        methods of organic social interaction and the building of effective 
        support networks for students.
        <br><br>
        Winterest aims to be a solution to these problems. It is be a mixture of 
        Tinder and Linkedin, where users are matched on the basis of what’s 
        important to them - interests, values, personalities, and demographic 
        traits (such as like being a first generation student or of a minority 
        group). Our aim is to create a way for the Wellesley community to 
        create and maintain meaningful relationships in order to intentionally 
        overcome the isolation produced by digital-first communication and continue 
        to provide valuable connections across existing groups going into the future.
    </p>
</div>

{% endblock %}
