{% extends "base.html" %}

{% block main_content %}
<div class="main-content">
<section class="match-section">
  <h1 class="section-header">Find Friends</h1>
  <div class="match-photo">
    {% for person in potentialMatches %}
    <div class="one-match {% if loop.index == 1 %} active {% endif %}" value="{{person.wemail}}">
      <img id="match-image" src="person.jpg" alt="">
      <div class="match-header">
        <h2 class="match-name">{{person.fname}}</h2>
        <p class="match-subheader">Class of {{person.fname}}</p>
        <div id="more-profile">
          <p class="profile-bio">
            {{person.bio}}
          </p>
          <div class="profile-interests" data-state="closed">
            {% for favorite in person.favorites %}
            <div class="interest-box">
              <div class="interest-emoji">{{emojis[favorite.emoji]}}</div>
              <p>My favorite {{favorite.itemType}} is <strong>{{favorite.name}}</strong></p>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
    <div id="left-button" class="circle left-arrow">
      <img src="arrow.png" alt="">
    </div>
    <div id="right-button" class="circle right-arrow">
      <img src="arrow.png" alt="">
    </div>
  </div>
  <form class="" action="index.html" method="post">
    <div class="match-buttons">
      <button class="blue-button" id="more-info-button" type="submit" name="submit" value="info">👀 More Information</button>
      <button id="match-button" type="submit" name="submit" value="match">❤️ Match</button>
      <button class="gray-button" id="shuffle-button" type="submit" name="submit" value="shuffle">🔀 Shuffle</button>
    </div>
  </form>
</section>
<section id="current-matches">
  <h1 class="section-header">Current Matches</h1>
  {% for match in currentMatches %}

  <div class="match-containers">
    <div class="circle-img">
      <p>{{match.fname[0] + match.lname[0] }}</p>
    </div>
    <div class="matches-info">
      <h3>match.fname</h3>
      <p class="match-subheader">match.year</p>
    </div>
  </div>

  {% endfor %}

  (% if len(matches) <= 4 %)
  <div class="more-container">
    <div class="matches-info">
      <h3>much empty.</h3>
      <p class="match-subheader">get matching!</p>
    </div>
  </div>
  {% endif %}

</section>
</div>
{% endblock %}
{% endblock %}

{% block end_scripts %}
<script>
    $("#more-info-button").on("click", function(event) {
      $button = $("#more-info-button");
      $profile = $("#more-profile");
      if ($profile.css("display") == 'none') {
        $profile.css("display", "block");
        $button.text("✌️ Less Information");
      }
      else {
        $profile.css("display", "none");
        $button.text("👀 More Information");
      }
    });
    
    carosel = 0;
    matchSlides = $(".one-match")
    length = matchSlides.length

    $("#left-button").on("click", function(event) {
      $(matchSlides[carosel]).removeClass('active')
      if (carosel == 0) { carosel = length-1; }
      else { carosel -= 1;  }
      $(matchSlides[carosel]).addClass('active')
      console.log(carosel)
    });

    $("#right-button").on("click", function(event) {
      $(matchSlides[carosel]).removeClass('active')
      if (carosel == length-1) { carosel = 0; }
      else { carosel += 1;  }
      $(matchSlides[carosel]).addClass('active')
      console.log(carosel)
    });
  </script>
{% endblock %}
