{% extends "base.html" %}

{% block main_content %}

<div class="main-content">
    <div class="signup-container">      
      <form method='POST' enctype="multipart/form-data" action="{{url_for('interests')}}">
        <br>
        <h2 class="action-title">Favorites</h2>
        <!-- <p>Choose your favorites!</p> -->
        <div class = "textbox signup-textbox">
          <label for="book">Book</label>
          <input type ="text" id="book" name="book" placeholder="Favorite book" required>
        </div>

          <div class = "textbox signup-textbox">
            <label for="color">Color</label>
            <input type ="text" id="color" name="color" placeholder="Favorite color" required>
            <!-- <label for="color">Color:</label>
            <input type ="color" id="color" name="color" required> -->
          </div>

          <div class = "textbox signup-textbox">
              <label for="song">Song</label>
              <input type ="text" id="song" name="song" placeholder="Favorite song" required>
          </div>

        <div id="bio-textbox" class = "textbox signup-textbox">
          <label for="bio">Bio</label>
          <p class="match-subheader">Introduce yourself! Let your personality or other
                interests shine. <i>(Limit 200 characters)</i>
          </p>
          <textarea type ="text" id="bio" name="bio" rows="3" cols="50" maxlength="200" placeholder="Tell us about yourself!"  required></textarea>
        </div>

        <div class = "textbox signup-textbox">
          <label for="pic">Picture</label>
          <p class="match-subheader"><i>File must be under 1MB</i></p>
          <input id="pic-form" type="file" name="pic">
        </div>
        <br>

        <h2 class="action-title">Contact</h2>
        <p class="match-subheader">List platforms you want to use to communicate on (<i>add up to 2 options</i>)</p>
        <div class="socials-flex">
          <div class = "textbox signup-textbox">
            <label for="contact-type1">Contact #1</label>
            <select id="contact-type1" name="contact-type1" class="social-form" required>
              <option value="Instagram">Instagram</option>
              <option value="Facebook">Facebook</option>
              <option value="Text">Text</option>
            </select>
          </div>
  
          <div class="textbox signup-textbox social-links">
            <label for="social-url1">Link</label>
            <input type ="url" id="social-url1" name="social-url1" placeholder="Social URL">
          </div>

          <div class="textbox signup-textbox phonenumber-form">
            <label for="phonenumber1">Phone Number</label>
            <input type ="tel" id="phonenumber1" name="phonenumber1" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" 
            placeholder="123-456-7890">
          </div>
        </div>
        <div class="socials-flex">
          <div class = "textbox signup-textbox">
            <label for="contact-type2">Contact #2</label>
            <select name="contact-type2" class="social-form">
              <option value="Facebook">Facebook</option>
              <option value="Instagram">Instagram</option>
              <option value="Text">Text</option>
            </select>
          </div>
  
          <div class="textbox signup-textbox social-links">
            <label for="social-url2">Link</label>
            <input type ="url" id="social-url2" name="social-url2" placeholder="Social URL">
          </div>

          <div class="textbox signup-textbox phonenumber-form">
            <label for="phonenumber2">Phone Number</label>
            <input type ="tel" id="phonenumber2" name="phonenumber2" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" 
            placeholder="123-456-7890">
          </div>
        </div>
        <p id="format-message" class="match-subheader">* Please enter your phone number in this format: 123-456-7890</p>


        <br>
        <button type="submit">Sign up</button>
      </form>
    </div>
  </div>

  {% endblock %}

{% block end_scripts %}
<script>
  $('select').change(function(){
    value = $(this).val();
    $form = $(this).closest('.socials-flex');
    $socialform = $form.find('.social-links');
    $phoneform = $form.find('.phonenumber-form');
    $phoneformat = $('#format-message');

    if (value == "Text") {
      $socialform.css('display', 'none');
      $phoneform.css('display', 'block');
      $phoneformat.css('display', 'block');
    }
    else {
      $phoneform.css('display', 'none');
      $phoneformat.css('display', 'none');
      $socialform.css('display', 'block');
    }
});
</script>
{% endblock %}