{% extends "base.html" %}

{% block main_content %}

<body>
<div class="main-content">
<div class="signup-container">
<h2 class="action-title">👋 Welcome</h2>
    <div class="landing-buttons">
        <a href="{{ url_for('login') }}"><button class="blue-button">Login</button></a>
        <a href="{{ url_for('signup') }}"><button class="blue-button">Sign Up</button></a>
        <a href="{{ url_for('faq') }}"><button class="blue-button">About the Project</button></a>
    </div>
</div>
</div>
</body>

{% endblock %}