{% extends "base.html" %}

{% block main_content %}

<body>
<div class="main-content">
<div class="signup-container">
<h2 class="action-title">👋 Welcome</h2>
    <div class="landing-buttons">
        <button class="blue-button"><a href="{{ url_for('login') }}">Login</a></button>
        <button class="blue-button"><a href="{{ url_for('signup') }}">Sign Up</a></button>
        <button class="blue-button"><a href="{{ url_for('faq') }}">About the Project</a></button>
    </div>
</div>
</div>
</body>

{% endblock %}