{% extends "base.html" %}

{% block main_content %}

<body>
    <h1>Login</h1>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <div id="messages">
    {% for msg in messages %}
        <p>{{msg}}</p>
    {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
    <div class="main-content">
        <div class="signup-container">
    <form method = 'POST' action="{{ url_for('login') }}">
        <div class="textbox signup-textbox">
            <label for="email">Username</label>
            <input id="email" type="text" placeholder="Wellesley Username" name="email" required>
        </div>
    
        <div class="textbox signup-textbox">
            <label for="password">Password</label>
            <input id="password" type="password" placeholder="Enter Password" name="password" required>
        </div>
        <br>
        <button type="submit">Login</button>
    </form>
    </div>
    </div>
</body>
</html>
{% endblock %}