<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Winterest</title>
  <meta name="Winterest, matching the Wellesley community" content="Winterest">

  <link rel="stylesheet" href="#">

</head>

<body>
    <h1>Login</h1>
    <form>
        <label for="username"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="usernamename" required>
    
        <label for="password"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" required>
    
        <button type="submit">Login</button>
        <label>
    </form>
</body>
</html>