{% extends "base.html" %}

{% block nav %}
  <nav>
    <a href="{{url_for('home')}}"><p id="winterest-logo">Winterest</p></a>
    <div>
      <form method="GET" action="/query/">
        <p><label>search: <input type="text" required name="query"></label>
        <label>kind
                <select required name = "kind">
                    <option value="">choose one</option>
                    <option value="person">person name</option>
                    <option value="email">wellesley email</option>
                </select>
        </label>
        <input type="submit" value="search"></p>
      </form> 
    </div>
    <div id="profile-logout-container">
      <a href="{{url_for('profile')}}">
        <div id="user-circle" class="circle-img">
          <p>{{currentUserInfo.fname[0]}}{{currentUserInfo.lname[0]}}</p>
        </div>
      </a>
      <form method=post action="{{url_for('logout')}}">
        <button class="gray-button" id="logout-button" type="submit" name="logout" value="logout">Logout</button>
      </form>
    </div>
  </nav>
{% endblock %}

{% block main_content %}
<div class="main-content">
<section class="match-section">
  <div class="match-photo">
    <div class="one-match active">
      {% if photo %}
      <img class="match-image-cropped" src="{{url_for('pic', wemail=person.wemail)}}" alt="">
      {% else %}
      <img class="match-image-cropped" src="{{url_for('static', filename='nophoto.jpg')}}" alt="">
      {% endif %}
      <div class="match-header">
        <h2 class="match-name">{{person.fname}}</h2>
        <p class="action-subheader">Class of {{person.year}} <br> {{person.major}} Major</p>
        <div class="active">
          <p class="profile-bio">
            {{personBio.bio}}
          </p>
          <div id="more-profile">
            <h2 class="match-section-titles">Location</h2>
            <div>
              <p class="match-location-info">📍{{person.city}},
                {% if person.state %}
                {{person.state}},
                {% endif %}
                {% if person.country %}
                {{person.country}}
                {% endif %}
              </p>
              <p class="match-campus-info">Currently
                {% if person.onCampus == 'yes' %}
                on campus. Hit me up 🤩
                {% else %}
                at home. Let's set up a Zoom meeting 💻
                {% endif %}
              </p>
            </div>
            <h2 class="match-section-titles">Favorites</h2>
            <div class="profile-interests" data-state="closed">
              {% for favorite in person.favorites %}
              <div class="interest-box">
                <div class="interest-emoji">{{emojis[favorite.itemType]}}</div>
                <p>&emsp;My favorite {{favorite.itemType}} is <strong>{{favorite.name}}</strong></p>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
        <h2 class="match-section-titles">Contact</h2>
          {% if contacts|length == 2 %}
          <div id="contact-buttons">
            {% for contact in contacts %}
              {% if contact.platform == 'text' %}
                <button class="phone-box" id="phone-button1" type="button" name="button">{{contact.phoneNumber}}</button>
              {% else %}
                {% if contact.platform == 'instagram'%}
                  <a href='{{contact.url}}' target='_blank'><button class="gray-button insta-button" type="button" name="button">Instagram</button></a>
                {% else %}
                  <a href="{{contact.url}}" target='_blank'><button class="blue-butto facebook-button" type="button" name="button">Facebook</button></a>
                {% endif %}
              {% endif %}
            {% endfor %}
          </div>
          {% else %}
            {% if contacts[0].platform == 'text' %}
              <button class="phone-box" id="phone-button2" type="button" name="button">{{contacts[0].phoneNumber}}</button>
            {% else %}
              {% if contacts[0].platform == 'instagram' %}
                <a href='{{contacts[0].url}}' target='_blank'><button class="gray-button insta-button" type="button" name="button">Instagram</button></a>
              {% else %}
                <a href="{{contacts[0].url}}" target='_blank'><button class="blue-button facebook-button" type="button" name="button">Facebook</button></a>
              {% endif %}
            {% endif %}
          {% endif %}
      </div>
    </div>
  </div>
  <div class="match-buttons">
    <button class="blue-button" id="more-info-button" type="submit" name="submit" value="more">👀 More Information</button>
    {% if oneSDMatchStatus %} <!-- a one sided matching -->
      <form class="match-button-form" method=post action="{{url_for('makeMatch', location='matches')}}">
        <button class="match-button" type="submit" name="submit" value="{{person.wemail}}">💖 Match</button>
      </form>
    {% else %} <!-- a two sided matching -->
      <form class="match-button-form" method=post action="{{url_for('deleteMatch')}}">
        <button class="match-button" type="submit" name="submit" value="{{person.wemail}}">💔 Unmatch</button>
      </form>
    {% endif %}
  </div>
</section>

    <section id="match-actions">
      <div class="upcoming-meetings">
        <h2 class="action-title">Upcoming meetings</h2>
        <div id="all-meetings">
          {% if meetings %}
            {% for meeting in meetings %}
            <div class="meeting-container">
              <div class="meeting-time">
                <p>{{meeting.date}} @ 
                  {% if meeting.type == "Remote" %}
                  {{meeting.type}}
                  {% else %}
                  {{meeting.location}}
                  {% endif %}
                </p>
                <p>{{meeting.time}}</p>
              </div>
              <h2 class="meeting-title">{{meeting.what}}</h2>
              <div class="meeting-options">
                {% if meeting.type == "Remote" %}
                <a href="{{meeting.location}}">
                  <button id="zoom-meeting" name="zoom-meeting" value="{{meeting.meetingID}}">Zoom Link</button>
                </a>
                {% endif %}
                <form action="{{url_for('deleteMeeting')}}" method="post">
                  <button id="delete-meeting" type="submit" name="deleteMeeting" value="{{meeting.meetingID}}">Delete</button>
                </form>
              </div>
            </div>
            {% endfor %}
          {% else %}
          <div id="no-meeting" class="meeting-container">
            <p>No meetings scheduled yet 😔</p>
          </div>
          {% endif %}
        </div>
    </div>

      <div class="icebreaker-action">
        <div class="action-title-container">
          <h2 class="action-title">Random Icebreaker</h2>
          <img id="icebreaker-arrow" class="minimize" src="{{url_for('static', filename = 'arrow.png')}}" alt="Minimize Arrow">
        </div>
        <div id="icebreaker-container">
          <p class="action-subheader">Wanna break the ice? Copy a random icebreaker
            and DM your match.
          </p>
          <p id="icebreaker"></p>
          <div id="icebreaker-buttons">
            <button class="gray-button" id="ice-shuffle-button" type="button" name="button">🔀 Shuffle</button>
            <button class="blue-button" id="copy-button" type="button" name="button">Copy</button>
          </div>
        </div>
      </div>

      <div id="schedule-meeting">
        <div class="action-title-container">
          <h2 class="action-title">Schedule meeting</h2>
          <img id="schedule-arrow" class="minimize" src="{{url_for('static', filename = 'arrow.png')}}" alt="Minimize Arrow">
        </div>
        <div id="schedule-meeting-container">
          <p class="action-subheader">Once you've figured out a good time that works for
            the both of you, go ahead and schedule a meeting!
          </p>
          <form method="post" action="{{url_for('scheduleMeeting', wemail=person.wemail)}}">
              <fieldset class="r-pill">
                <legend>
                  What
                </legend>
  
                <span class="r-pill__item">
                  <input type="radio" id="coffee" name="schedule-what" value="Coffee Chat" checked>
                  <label for="coffee">Coffee Chat</label>
                </span>
  
                <span class="r-pill__item">
                  <input type="radio" id="study" name="schedule-what" value="Study Session">
                  <label for="study">Study Session</label>
                </span>
  
                <span class="r-pill__item">
                  <input type="radio" id="hangout" name="schedule-what" value="General Hangout">
                  <label for="hangout">General Hangout</label>
                </span>
  
                <span class="r-pill__item">
                  <input type="radio" id="game" name="schedule-what" value="Game Night">
                  <label for="game">Game Night</label>
                </span>
  
                <span class="r-pill__item">
                  <input type="radio" id="food" name="schedule-what" value="Grab food">
                  <label for="food">Grab some food</label>
                </span>
  
                <span class="r-pill__item">
                  <input type="radio" id="other" name="schedule-what" value="Other">
                  <label for="other">Other</label>
                </span>
              </fieldset>
  
              <fieldset id="where-pills" class="r-pill">
                <legend>
                  Where
                </legend>
  
                <span class="r-pill__item">
                  <input type="radio" id="remote" name="schedule-where" value="Remote" checked>
                  <label for="remote">Remote</label>
                </span>
  
                <span class="r-pill__item">
                  <input type="radio" id="inperson" name="schedule-where" value="In-Person">
                  <label for="inperson">In-Person</label>
                </span>
              </fieldset>
  
              <div class="textbox notes-textbox">
                <label id="location-label" for="schedule-location">Location</label>
                <p id="location-subheader" class="action-subheader">Paste a video call link if remote, or a location
                  (like "The Lulu") for in-person meetings.
                </p>
                <input type="text" id="schedule-location" name="schedule-location" placeholder="Location" maxlength="30" required>
              </div>
  
              <div class="textbox">
                <label id="when-label" for="schedule-when">When</label>
                <p id="when-subheader" class="action-subheader">Note: Time is in EST.</p>
                <input type="datetime-local" id="schedule-when" name="schedule-when" required>
              </div>
  
              <div class="textbox notes-textbox">
                <label for="notes">Notes</label>
                <input type="text" id="notes" name="notes" maxlength="100" placeholder="Excited to chat with you!">
              </div>
  
              <button class="blue-button" id="schedule-button" type="submit" value="Submit Form" name="button">Schedule</button>
            </form>
        </div>
      </div>
    </section>
</div>
{% endblock %}

{% block end_scripts %}
<script>
$("#more-info-button").on("click", function(event) {
    $button = $("#more-info-button");
    $profile = $("#more-profile");
    if ($profile.css("display") == 'none') {
      $profile.css("display", "block");
      $button.text("✌️ Less Information");
    }
    else {
      $profile.css("display", "none");
      $button.text("👀 More Information");
    }
  });

function getRandomInt(max) {
  return Math.floor(Math.random() * Math.floor(max));
}

function getIceBreaker() {
    // Randomly returns an ice breaker
    choices = ["Two Truths and One Lie",
                    "How are you feeling today?",
                    "Get the weirdest thing in your room, then bring it back to show",
                    "Highlight of the month?",
                    "Failure of the month?",
                    "Play three rounds of Never Have I Ever",
                    "Virtual wine tasting!",
                    "What’s the last picture that you took?",
                    "If you inherited or won a million dollars",
                    "what’s the very first thing you would do with the money?"]
    return choices[getRandomInt(choices.length)]
}

function copyToClipboard(element) {
    var $temp = $("<input>");
    $("body").append($temp);
    $temp.val("Icebreaker from WINTEREST: " + $(element).text()).select();
    document.execCommand("copy");
    $temp.remove();
    alert("Copied!");
}

$("#icebreaker").text(getIceBreaker());

$("#ice-shuffle-button").on('click', function(event) {
  $("#icebreaker").text(getIceBreaker());
});

$("#copy-button").on('click', function(event) {
  copyToClipboard("#icebreaker");
});


$icebreakarrow = $("#icebreaker-arrow")
$schedulearrow = $("#schedule-arrow")

$icebreakarrow.on('click', function(event) {
  $container = $("#icebreaker-container")
  if ($container.css("display") == 'none') {
      $container.css("display", "block");
      $icebreakarrow.css("transform", "rotate(90deg)");
    }
    else {
      $container.css("display", "none");
      $icebreakarrow.css("transform", "rotate(-90deg)");
    }
});

$schedulearrow.on('click', function(event) {
  $container = $("#schedule-meeting-container")
  if ($container.css("display") == 'none') {
      $container.css("display", "block");
      $schedulearrow.css("transform", "rotate(90deg)");
    }
    else {
      $container.css("display", "none");
      $schedulearrow.css("transform", "rotate(-90deg)");
    }
});


</script>
{% endblock %}

