{% extends "base.html" %}

{% block nav %}
  <nav>
    <a href="{{url_for('home')}}"><p id="winterest-logo">Winterest</p></a>
    <div id="profile-logout-container">
      <div id="user-circle" class="circle-img">
        <p>{{currentUserInfo.fname[0]}}{{currentUserInfo.lname[0]}}</p>
      </div>
      <form method=post action="{{url_for('logout')}}">
        <button class="gray-button" id="logout-button" type="submit" name="logout" value="logout">Logout</button>
      </form>
    </div>
    </a>
  </nav>
{% endblock %}

{% block main_content %}
<div class="main-content">
<section class="match-section">
  <div class="match-photo">
    <div class="one-match active" value="{{person.wemail}}">
      {% if photo %}
      <img id="match-image-cropped" src="{{url_for('pic', wemail=person.wemail)}}" alt="">
      {% else %}
      <img id="match-image-cropped" src="{{url_for('static', filename='nophoto.jpg')}}" alt="">
      {% endif %}
      <div class="match-header">
        <h2 class="match-name">{{person.fname}}</h2>
        <p class="match-subheader">Class of {{person.year}}</p>
        <div class="active">
          <p class="profile-bio">
            {{personBio.bio}}
          </p>
          <div class="profile-interests" data-state="closed">
            {% for favorite in person.favorites %}
            <div class="interest-box">
              <div class="interest-emoji">{{emojis[favorite.itemType]}}</div>
              <p>My favorite {{favorite.itemType}} is <strong>{{favorite.name}}</strong></p>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="match-buttons">
    {% if oneSDMatchStatus %} <!-- a one sided matching -->
      <form id="match-button-form" method=post action="{{url_for('makeMatch')}}">
        <button id="match-button" type="submit" name="submit" value="{{person.wemail}}">💖 Match</button>
      </form>
    {% else %} <!-- a two sided matching -->
      <form id="match-button-form" method=post action="{{url_for('deleteMatch')}}">
        <button id="match-button" type="submit" name="submit" value="{{person.wemail}}">💔 Unmatch</button>
      </form>
    {% endif %}
  </div>
</section>

    <section id="match-actions">
      <div class="icebreaker-action">
        <h2 class="action-title">Random Icebreaker</h2>
        <p id="icebreaker"></p>
        <div id="icebreaker-buttons">
          <button class="gray-button" id="ice-shuffle-button" type="button" name="button">🔀 Shuffle</button>
          <button class="blue-button" id="copy-button" type="button" name="button">Copy</button>
        </div>
      </div>
      <div id="schedule-meeting">
        <h2 class="action-title">Schedule meeting</h2>
        <form method="post" action="#">
						<fieldset class="r-pill">
							<legend>
								What
							</legend>

							<span class="r-pill__item">
								<input type="radio" id="coffee" name="radios_2" checked>
								<label for="coffee">Coffee Chat</label>
							</span>

							<span class="r-pill__item">
								<input type="radio" id="study" name="radios_2">
								<label for="study">Study Session</label>
							</span>

							<span class="r-pill__item">
								<input type="radio" id="hangout" name="radios_2">
								<label for="hangout">General Hangout</label>
							</span>

							<span class="r-pill__item">
								<input type="radio" id="game" name="radios_2">
								<label for="game">Game Night</label>
							</span>

              <span class="r-pill__item">
								<input type="radio" id="food" name="radios_2">
								<label for="food">Grab some food</label>
							</span>
						</fieldset>

            <fieldset class="r-pill">
							<legend>
								Where
							</legend>

							<span class="r-pill__item">
								<input type="radio" id="remote" name="radios_3" checked>
								<label for="remote">Remote</label>
							</span>

							<span class="r-pill__item">
								<input type="radio" id="inperson" name="radios_3">
								<label for="inperson">In-Person</label>
							</span>
            </fieldset>

            <div class="textbox">
              <label for="avail">When</label>
              <input type="text" id="avail" name="avail" placeholder="I’m available from...">
            </div>

            <div id="notes-textbox" class="textbox">
              <label for="notes">Notes</label>
              <input type="text" id="notes" name="notes" placeholder="Excited to chat with you!">
            </div>

            <button class="blue-button" id="schedule-button" type="submit" value="Submit Form" name="button">Schedule</button>
					</form>
      </div>
      <div class="upcoming-meetings">
          <h2 class="action-title">Upcoming meetings</h2>
      </div>
    </section>
</div>
{% endblock %}

{% block end_scripts %}
<script>
$("#more-info-button").on("click", function(event) {
    $button = $("#more-info-button");
    $profile = $("#more-profile");
    if ($profile.css("display") == 'none') {
      $profile.css("display", "block");
      $button.text("✌️ Less Information");
    }
    else {
      $profile.css("display", "none");
      $button.text("👀 More Information");
    }
  });

function getRandomInt(max) {
  return Math.floor(Math.random() * Math.floor(max));
}

function getIceBreaker() {
    // Randomly returns an ice breaker
    choices = ["Two Truths and One Lie",
                    "How are you feeling today?",
                    "Get the weirdest thing in your room, then bring it back to show",
                    "Highlight of the month?",
                    "Failure of the month?",
                    "Play three rounds of Never Have I Ever",
                    "Virtual wine tasting!",
                    "What’s the last picture that you took?",
                    "If you inherited or won a million dollars",
                    "what’s the very first thing you would do with the money?"]
    return choices[getRandomInt(choices.length)]
}

function copyToClipboard(element) {
    var $temp = $("<input>");
    $("body").append($temp);
    $temp.val($(element).text()).select();
    document.execCommand("copy");
    $temp.remove();
    alert("Copied!");
}

$("#icebreaker").text(getIceBreaker());

$("#ice-shuffle-button").on('click', function(event) {
  $("#icebreaker").text(getIceBreaker());
});

$("#copy-button").on('click', function(event) {
  copyToClipboard("#icebreaker");
});

</script>
{% endblock %}

