<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Winterest</title>
  <meta name="Winterest, matching the Wellesley community" content="Winterest">

  <link rel="stylesheet" href="#">

</head>

<body>
<h1>Sign Up</h1>
{% with messages = get_flashed_messages() %}
{% if messages %}
    <div id="messages">
{% for msg in messages %}
    <p>{{msg}}</p>
{% endfor %}
</div>
{% endif %}
{% endwith %}
<form method='POST' action={{ url_for('authenticate', kind = 'signup') }}>
    <label for="fname"><b>First Name</b></label>
    <input type="text" placeholder="First Name" name="fname" required>

    <label for="lname"><b>Last Name</b></label>
    <input type="text" placeholder="Last Name" name="lname" required>

    <label for="major"><b>Major</b></label>
    <input type="text" placeholder="Major" name="major" required>

    <label for="year"><b>Class Year</b></label>
    <input type="text" placeholder="Class Year" name="year" required>

    <label for="country"><b>Country</b></label>
    <input type="text" placeholder="Country" name="country" required>

    <label for="state"><b>State</b></label>
    <input type="text" placeholder="State" name="state" required>

    <label for="city"><b>City</b></label>
    <input type="text" placeholder="City" name="city" required>

    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="email" required>

    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" required>

    <label for="confirm_password"><b>Confirm Password</b></label>
    <input type="confirm_password" placeholder="Confirm Password" name="confirm_password" required>

    <p>Select some things you like!</p>
    <label for="fav_1">One:</label>
    <input type="color" name="fav_1">

    <button type="submit">Sign up</button>
    <label>
</form>
</body>
</html>