{% extends "base.html" %}

{% block main_content %}

<div class="main-content">
    <div class="signup-container">
      <h2 class="action-title">Sign Up</h2>
      
      <form method='POST' action="{{ url_for('authenticate', kind = 'signup') }}">
        <div id="wellesley-email-box" class="textbox signup-textbox">
          <label for="wemail">Wellesley Email</label>
          <p class="match-subheader">Please omit (@wellesley.edu)</p>
          <input type="text" id="email" name="email" placeholder="Wellesley User" required>
        </div>

        <div class="twocol-flex">
          <div class="textbox signup-textbox">
            <label for="fname">First Name</label>
            <input type="text" id="fname" name="fname" placeholder="First Name" required>
          </div>

          <div class="textbox signup-textbox">
            <label for="lname">Last Name</label>
            <input type="text" id="lname" name="lname" placeholder="Last Name" required>
          </div>
        </div>

        <div class="twocol-flex">
          <div class="textbox signup-textbox">
            <label for="city">City</label>
            <input type="text" id="city" name="city" placeholder="City" required>
          </div>
          <div class="textbox signup-textbox">
            <label for="state">State</label>
            <input type="text" id="state" name="state" placeholder="State" required>
          </div>
        </div>
        <div class="textbox signup-textbox">
          <label for="country">Country</label>
          <input type="text" id="country" name="country" placeholder="Country" required>
        </div>

        <div class="textbox signup-textbox">
          <label for="password">Password</label>
          <input type="password" placeholder="Enter Password" name="password" required>
        </div>

        <div class="textbox signup-textbox">
          <label for="confirm_password">Confirm Password</label>
          <input type="confirm_password" placeholder="Confirm Password" name="confirm_password" required>
        </div>

        <br>
        <h2 class="action-title">School Information</h2>

        <fieldset class="r-pill">
          <legend>
            Current Location
          </legend>

          <span class="r-pill__item">
            <input type="radio" id="home" name="radios_3" checked>
            <label for="home">At Home</label>
          </span>

          <span class="r-pill__item">
            <input type="radio" id="campus" name="radios_3">
            <label for="campus">On Campus</label>
          </span>

          <span class="r-pill__item">
            <input type="radio" id="other" name="radios_3">
            <label for="other">Other</label>
          </span>
        </fieldset>

        <div class="twocol-flex">
          <div class="textbox signup-textbox">
            <label for="major">Major(s)</label>
            <input type="text" id="major" name="major" placeholder="Major(s)" required>
          </div>

          <div class="textbox signup-textbox">
            <label for="year">Year</label>
            <input type="text" id="year" name="year" placeholder="2023" required>
          </div>
        </div>

        <!-- <br>
        <h2 class="action-title">Favorites</h2>
        <div class = "textbox signup-textbox">
          <label for="book">Book</label>
          <input type ="text" id="book" name="book" required>
      </div>

        <div class="twocol-flex">
          <div class = "textbox signup-textbox">
            <label for="color">Color</label>
            <input type ="text" id="color" name="color" required> -->
            <!-- <label for="color">Color:</label>
            <input type ="color" id="color" name="color" required> -->
          <!-- </div>

          <div class = "textbox signup-textbox">
              <label for="album">Album</label>
              <input type ="text" id="album" name="album" required>
          </div>
        </div> -->

        <br>
        <button type="submit">Continue</button>
      </form>
    </div>
  </div>

  {% endblock %}